<!doctype html> 
<html lang="fr"> 
   <head> 
		<meta charset="utf-8">
		<meta name="description" content="Contactez Lebonplan : une question, une suggestion ? Utilisez notre formulaire de contact pour joindre notre équipe rapidement.">
		<meta name="keywords" content="lebonplan, contact, formulaire contact, service client, aide">
		<meta name="robots" content="index, follow">
		<link rel="canonical" href="https://www.lifePath.fr/contact.html">
		<link rel="stylesheet" href="assets/style.css">
		<title>Contact - Contactez Lebonplan | Service Client et Assistance</title> 
   </head> 
   <body>
	<!-- Overlay -->
    <div class="overlay" id="overlay"></div>

    <!-- Navbar -->
    <nav class="navbar" id="navbar">
        <div class="hamburger" onclick="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="profile-section">
            <img  class="profile-icon" src="images/profils/profile.png" alt="logo lifePath">
            <div class="profile-info">
                <h2>NOM COMPLET</h2>
                <p class="navbar-pilote">NOM pilote</p>
            </div>
        </div>

        <div class="divider"></div>

        <ul class="menu">
            <li class="menu-item active">
                <a href="index.html">
                    <div class="home-icon"></div>
                    Accueil
                    <span class="arrow">∨</span>
                </a>
                <ul class="submenu">
                    <li><a href="#offres">Offres</a></li>
                    <li><a href="#apropos">Entreprises</a></li>
                    <li><a href="#compte">Comptes</a></li>
                </ul>
                <a href="inscription.html">
                    Inscription
                </a>
                <a href="connexion.html">
                    Connexion
                </a>
                <a href="offres.html">
                    Nos offres
                </a>
                <a href="entreprise.html">
                    Entreprise
                </a>
                <a href="avis.html">
                    Avis
                </a>
                <a href="legale.html">
                    Mention légal
                </a>
            </li>
        </ul>
    </nav>

    <div class="main-content">
        <!-- Header -->
        <header class="header">
            <div class="header-hamburger" onclick="toggleNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1>LifePath</h1>
            <img  src="images/logos/personnagesansfondombre.png" alt="logo lifePath" class="header-icon" >
        </header>
    </div>
	 
	<main>
	 
	   <section>
	   
			<h1 class="center">Nous sommes à votre écoute</h1>
			
			<p class="center">Vous pouvez nous contacter directement via <a href="mailto:info@lebonplan.fr">notre adresse de courriel</a> ou utilisez le formulaire ci-dessous.</p>
			<p class="center">Nous vous répondrons dans tous les cas dans les délais les plus bref.</p>
			
			<article>
			
				
				
				<form class="formulaire">
					<h2>Vous avez la parole</h2>
					
					<label>Nom complet<input name="fullname" type="text" value="" size="100" required ></label>
					
					<label>Votre message<textarea name="feedbacks" rows="5" cols="100" ></textarea></label>
					
					<div class="buttons">
						<button type="submit">Envoyer</button>
						<input type="reset" value="Effacer" >
					</div>
				</form>
				
			</article>					
			
	   </section>
	   
	 </main>
	 
	 <footer class="footer">
		<em>2026 - Tous droits réservés</em> | <a href="mentions-legales.html">Mentions légales</a>
	 </footer>
	<script src="script.js"></script>
   </body> 
</html> 
