body {
    background-color: #f0f0f1;
    font-family: 'Dela gothic one', sans-serif;
    color:#142b53;
    margin: 0;
}

main {
    margin: 0 5% 0 5%;
    font-size: 175%;
}

header {
    background-color: #f0e278;
    color: #142b53;
    text-align: center;
    font-family: 'Dela gothic one', sans-serif;
    display: flex;
    flex-direction: column;
}

.Connect_subscribe{
    background-color: #f0f0f1;
}

.Connect_subscribe img {
    width: 20%;
}

.formulaire {
    margin-left : 15%;
    font-size: 150%;
}

.container_btn button{
    width: 25%;
    font-size: 110%;
}

.formulaire input {
    border-color: black;
    background-color: #f0f0f1;
}


.tete {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    
}

.title-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}

.logo-header {
    width: 15%;
}

.search {
    font-size: 1.2em;
    font-family: 'Dela gothic one', sans-serif;
    border: none;
    border-radius: 6px;
}

footer {
    text-align: center;
    background-color: #142b53;
    color: #f0f0f1;
    margin-top: 2%;
    font-size: 0.8em;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 5%;
}

.offre-container {
    border: 2px solid #142b53;
    border-radius: 10px;
    background-color: #94d4eb;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 4%;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 5%;
}

.coeur {
    position: relative;
    cursor: pointer;
    left: 90%;
    top: 2%;
    width: 40px;
    height: 40px;
    background-color: #f0f0f1;
    border: #142b53 solid 2px;
    border-radius: 50%;
}

.coeur:focus {
    background-color: #d02c3f;
}


.offre-img {
    width: 95%;
    height: auto;
    border-radius: 12px;
    justify-content: center;
}