body {
    font-family: "Dela Gothic One", sans-serif;
    background-color: #f0f0f1;
    color: #142b53;
    margin: 0 5% 0 5%;
    
}

header {
    text-align: center;
}

main {
    font-size: 175%;

}

h1 {
    font-size: 500%;
}

.header_img {
    width: 25%;
    margin-top: 5%;
}


.submit {
    background-color: #142b53;
    text-align: center;
    color: #f0f0f1;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 3% 20% 3% 20%;
}

button {
    padding: 2.5% 5% 2.5% 5%;
    margin-left: 0;
    font-size: 100%;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: #94d4eb;
}

.formulaire {
    font-size: 150%;
}

a:hover {
    text-decoration: underline;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black solid 1%;
    font-style: italic;
    font-size: 100%

}

h2 {
    font-size: 300%;
}

label {
    color: #94d4eb;
    font-weight: bold;
}

.checkbox {
    width: 30px;
    height: 30px;
    accent-color: #f0e278;
}

p {
    display: block;
    margin: 5% auto;
    width: fit-content;
}