<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>LifePath</title>
    <link rel="stylesheet" href="/assets/style_formulaire.css">
    <link rel="icon" type="image/png" href="/images/logos/personnagesansfondombre.png">
</head>

<body>
	<header class="Connect_subscribe">
		<img class="header_img" src="/images/logos/personnagesansfondombre.png" alt="Logo LifePath">
		<h1 class="tittle"><b>LifePath</b></h1>
    </header>

	<main>
		<section>
			<h2 class="tittle2conn">Connexion</h2>

			{% if errors is not empty %}
				<article>
					<ul style="color:#b00020;">
						{% for error in errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</article>
			{% endif %}

			{% if success_message %}
				<article>
					<p style="color:#0a7a31;">{{ success_message }}</p>
				</article>
			{% endif %}

			<article>
				<form class="formulaire" method="post" action="">
					<div class="form-group-conn">
						<label>Email*</label><br>
						<input name="email" type="email" value="{{ form.email|e }}" required>
					</div>
					
					<div class="form-group-conn">
						<label>Mot de passe*</label><br>
						<input name="password" type="password" required>
					</div>

					<button class="submit" name="connect" type="submit">Connexion</button>

					<p class="dejacompte">Pas de compte ? <a href="inscription">Inscrivez-vous ici</a></p>
				</form>
			</article>

		</section>
	</main>
</body>

</html>