<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LifePath{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>

<footer class="footer">
		<em>2026 - Tous droits réservés</em> | <a href="mentions-legales.html">Mentions légales</a>
	</footer>
	<script src="script.js"></script>

{% block content %}{% endblock %}

<script src="script.js"></script>
</body>
</html>