<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LifePath{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="icon" type="image/png" href="/images/logos/personnagesansfondombre.png">
</head>
<body>

<div class="header-main-content">
    <!-- Header -->
    <header class="header">
        <div class="header-hamburger" onclick="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1 class="title">LifePath</h1>
        <img  src="images/logos/personnagesansfondombre.png" alt="logo lifePath" class="header-icon" >
    </header>
</div>

{% block content %}{% endblock %}

<script src="script.js"></script>
</body>
</html>