<div class="header-main-content">
    <!-- Header -->
    <header class="header">
        <div class="header-hamburger" onclick="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1 class="title">LifePath</h1>
        <img  src="/images/logos/personnagesansfondombre.png" alt="logo lifePath" class="header-icon" >
    </header>
</div>
