<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LifePath{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>

<!-- Overlay -->
<div class="overlay" id="overlay"></div>

<!-- Navbar -->
<nav class="navbar" id="navbar">
    <div class="hamburger" onclick="toggleNav()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="nav-profile-section">
        <img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath">
        <div class="nav-profile-info">
            <h2><a href="/profil">NOM COMPLET</a></h2>
            <p class="navbar-pilote">NOM pilote</p>
        </div>
    </div>

    <div class="divider"></div>

    <ul class="nav-menu">
        <li class="nav-menu-item">
            <div class="row" onclick="toggleRow(this)">
                <div class="nav-container-menu">
                    <a href="./">Accueil </a>
                    <div class="arrow">></div>
                </div>
                <ul class="nav-submenu">
                    <li><a href="#offres">Offres</a></li>
                    <li><a href="#apropos">Entreprises</a></li>
                    <li><a href="#compte">Comptes</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-menu-item"><a href="inscription">Inscription</a></li>
        <li class="nav-menu-item"><a href="connexion">Connexion</a></li>
        <li class="nav-menu-item"><a href="offres">Nos offres</a></li>
        <li class="nav-menu-item"><a href="entreprise">Entreprise</a></li>
        <li class="nav-menu-item"><a href="avis">Avis</a></li>
        <li class="nav-menu-item"><a href="legale">Mentions légales</a></li>
    </ul>
</nav>

{% block content %}{% endblock %}

<script src="script.js"></script>
</body>
</html>