<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Découvrez toutes nos offres d'emploi sur Lebonplan : stages et alternances dans les meilleures entreprises. Postulez en ligne facilement !">
	<meta name="keywords" content="lebonplan, offres emploi, stage, alternance, recrutement, carrière, opportunités">
	<meta name="robots" content="index, follow">
	<link rel="canonical" href="https://www.lifePath.fr/offres.html">
	<link rel="stylesheet" href="assets/style.css">
	<title>Offres d'Emploi, Stage et Alternance - Lebonplan Recrutement</title>
</head>

<body>
{# Navbar #}
{% include 'style_base/header-navbar.twig' %}
	<main>
		<div>
			<h1 class="center">Postuler à nos offres disponibles</h1>
			<h2>Choisissez quelles types d'offres vous souhaitez</h2>
		</div>
		<div class="offers">
		<div class="offer clickable">
			<h1 class="center"><a href="offres-stage.html">STAGE</a></h1>
			<h2 class="small center">Nos offres de stage avec nos entreprise partenaires</h2>
		</div>
		<div class="offer clickable">
			<h1 class="center"><a href="#">ALTERNANCE</a></h1>
			<h2 class="small center">Nos offres d'alternance avec nos entreprise partenaires</h2>
		</div>
		</div>
	</main>

	<footer class="footer">	2026 - Tous droits réservés - Web4All | <a href="mentions-legales.html">Mentions légales</a>	</footer>
	<script src="script.js"></script>
</body>

</html>