name: Deploy to Server

on:
  push:
    branches:
      - main  # Change to the branch you want to deploy from (e.g., 'master', 'main')

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to Server
        run: |
          ssh -o StrictHostKeyChecking=no mc@82.66.66.102 << 'EOF'
            cd /var/www/lebonplan/
            git pull origin main
            cd dev-web
            composer install --no-dev --optimize-autoloader
            sudo php bin/console cache:clear --env=prod
          EOF
